{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Activity{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="startTime">startTime</label>
    <input name="startTime" id="startTime" value="{{ request.form['startTime'] }}" required>
    <label for="registrationDDL">registrationDDL</label>
    <input name="registrationDDL" id="registrationDDL" value="{{ request.form['registrationDDL'] }}">
    <label for="description">description</label>
    <input name="description" id="description" value="{{ request.form['description'] }}">
    <label for="maxParticipantNumber">maxParticipantNumber</label>
    <input name="maxParticipantNumber" id="maxParticipantNumber" value="{{ request.form['maxParticipantNumber'] }}">
    <label for="locationName">locationName</label>
    <input name="locationName" id="locationName" value="{{ request.form['locationName'] }}">
    <label for="locationLongitude">locationLongitude</label>
    <input name="locationLongitude" id="locationLongitude" value="{{ request.form['locationLongitude'] }}">
    <label for="locationLatitude">locationLatitude</label>
    <input name="locationLatitude" id="locationLatitude" value="{{ request.form['locationLatitude'] }}">
    <label for="locationType">locationType</label>
    <input name="locationType" id="locationType" value="{{ request.form['locationType'] }}">
    <input type="submit" value="Save">
  </form>
{% endblock %}