<!doctype html>
<title>{% block title %}{% endblock %} - demo_flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>demo_flask</h1>
  <ul>
    <li><a href="{{ url_for('addActivity') }}">addActivity</a>
    <li><a href="{{ url_for('getActivityList') }}">getActivityList</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>